* {
    margin: 0;
    padding: 0;
}

:root {
    --resp-head-bgc: #0185fdFF;
    --resp-head-btn: #FFFF;
    --resp-head-btn-text: #7c7c7d;
    --resp-head-text: #c4e3ff;
    --resp-jumbo-demo: #b5dcfe;
    --resp-jumbo-demo-title: #2a99fc;
    --resp-jumbo-text: #6c8598;
    --resp-jumbo-btn: #0184fc;
    --resp-main-bgc: #9693e4FF;
    --resp-main-btn: #9693e4FF;
    --resp-free-text: #fdc15fFF;
    --resp-footer: #333232FF;
}

/* Utilitys */
.title {
    color: var(--resp-jumbo-demo-title);
    font-size: 25px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: var(--resp-jumbo-text);
}

.fa {
    color: var(--resp-head-btn);
    font-size: 30px;
}
/* /Utilitys */

/* Col */
.col-sm-12{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.col-md-12{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
/* /Col */


/* Header */
.container_header {
    background-color: var(--resp-head-bgc);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;

    box-sizing: border-box;
    border: 1px dashed;
}

.logo_text {
    color: var(--resp-head-text);
}

.head_btn {
    color: var(--resp-head-btn-text);
    background-color: var(--resp-head-btn);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.logo_n_btn {
    display: flex;
    align-items: center;
    gap: 1rem;
}
/* /Header */


/* 1st Part Main */
.container{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color: var(--resp-jumbo-demo);
    border-radius: 20px; /* --> da cambiare, guarda recap della lezione */

    box-sizing: border-box;
    border: 1px dashed;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.download {
    display: flex;
    color: var(--resp-head-btn);
    background-color: var(--resp-jumbo-btn);
    border: none;
    border-radius: 20px;
    height: 20px;
    align-items: center;
}

.phone {
    height: 200px;
    display: flex;
}

#branding{
    padding-bottom: 70px;
}
/* /1st Part Main */

/* 2nd Main Part */
.container_strategic{
    background-color: var(--resp-main-bgc);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.str_title{
    font-size: 25px;
}

.strategic1, .strategic2{
    width: 80%;
    height: 300px;
}

.str_title, .str_text, .strategic1, .strategic2 {
    margin-left: 2rem;
}

.container_strat2{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: #FFFF;
    border-radius: 20px; /* --> da cambiare, guarda recap della lezione */
    text-align: center;
    gap: 2rem;
}

.strat2_title{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.arrow_down{
    background-color: var(--resp-main-bgc);
    border: none;
    border-radius: 20px; /* --> da cambiare, guarda recap della lezione */
    width: 15%;
    margin-bottom: 20px;
}
/* /2nd Main Part */




















































/* Header Media Mobile*/
@media screen and (min-width: 375px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .logo_n_btn {
        display: none;
    }

    .fa {
        color: white;
    }
}

/* /Header Media Mobile*/


/* Header  edia Tablet*/
@media screen and (min-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .logo_n_btn {
        display: none;
    }

    .fa {
        color: white;
    }
}

/* /Header Media Tablet*/


/* Header Media Desktop*/
@media screen and (min-width: 1200px) {
    .fa{
        display: none;
    }

    .logo_n_btn {
        display: flex;
    }
}

/* /Header Media Desktop*/