* {
    margin: 0;
    padding: 0;
}

:root {
    --resp-head-bgc: #0185fdFF;
    --resp-head-btn: #FFFF;
    --resp-head-btn-text: #7c7c7d;
    --resp-head-text: #c4e3ff;
    --resp-jumbo-demo: #b5dcfe;
    --resp-jumbo-demo-title: #2a99fc;
    --resp-jumbo-text: #6c8598;
    --resp-jumbo-btn: #0184fc;
    --resp-main-bgc: #9693e4FF;
    --resp-main-btn: #9693e4FF;
    --resp-free-text: #fdc15fFF;
    --resp-footer: #333232FF;
}

/* Utilitys */

.fa {
    color: var(--resp-head-btn);
    font-size: 30px;
}

.col-sm-12{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
/* /Utilitys */


/* Header */
.container_header {
    background-color: var(--resp-head-bgc);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;

    box-sizing: border-box;
    border: 1px dashed;
}

.logo_text {
    color: var(--resp-head-text);
}

.head_btn {
    color: var(--resp-head-btn-text);
    background-color: var(--resp-head-btn);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.logo_n_btn {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* /Header */


/* 1st Part Main */
.container_demo {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    background-color: var(--resp-jumbo-demo);
    border-radius: 20px;
    /* --> da cambiare, guarda recap della lezione */

    box-sizing: border-box;
    border: 1px dashed;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.demo_title {
    color: var(--resp-jumbo-demo-title);
    font-size: 25px;
}

.demo_text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: var(--resp-jumbo-text);
}

.download {
    display: flex;
    color: var(--resp-head-btn);
    background-color: var(--resp-jumbo-btn);
    border: none;
    border-radius: 20px;
    height: 20px;
    align-items: center;
}

.phone {
    height: 200px;
    display: flex;
}

/* /1st Part Main */




















































/* Header Media Mobile*/
@media screen and (min-width: 375px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .logo_n_btn {
        display: none;
    }

    .fa {
        color: white;
    }
}

/* /Header Media Mobile*/


/* Header  edia Tablet*/
@media screen and (min-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .logo_n_btn {
        display: none;
    }

    .fa {
        color: white;
    }
}

/* /Header Media Tablet*/


/* Header Media Desktop*/
@media screen and (min-width: 1200px) {
    .fa {
        display: none;
    }

    .logo_n_btn {
        display: flex;
    }
}

/* /Header Media Desktop*/